ansicolors
python-statemachine
dnspython
urlextract
html2text
imap-tools
pycryptodome
redis
jinja2
boto3
base58
git+https://github.com/Beirdo/pynntp.git
git+https://github.com/Beirdo/jsonschema.git
git+https://github.com/Beirdo/openapi-spec-validator.git
git+https://github.com/Beirdo/openapi-core.git

