Thank you for creating a new account at {{ server.name }}.

Before you will be able to create or play any characters on {{ server.name }}, you need to
confirm your email address.  This is done to drastically reduce the possibility that someone
can pretend to own your email address, and use it to gain access to our system.

To confirm your email, follow the following steps:

1) connect to {{ server.name }} at {{ server.hostname }}:{{ server.port }}
2) login with this email address and the password you chose previously
3) enter the confirmation code below after choosing E) on the account menu presented

Your confirmation code is:  {{ account.confcode }}

Thank you for helping keep our system from having rogue accounts.
